{% extends 'index.html' %}

{% block content %}
    <div class="card-all-in">
    <h1>контакты</h1>
    <div class="contacts">
<h5>Телефон: +7 (xxx) xxx-xx-xx</h5>
<h5>E-mail: info@domen.ru</h5>
<h5>Юридический адрес: г. Москва, ул. Ленина, д. 1, офис 100</h5>
<h5>Фактический адрес: г. Москва, ул. Строителей, д. 25 (если отличается от юр.)</h5>
<h5>ИНН / КПП: 1234567890 / 123450001</h5>
<h5>ОГРН: 1234567890123</h5>
<h5>Режим работы: Пн-Пт: с 9:00 до 18:00, Сб-Вс: выходной</h5>
<h5>Банк: ПАО "Сбербанк"</h5>
<h5>Расчетный счет: 40702810123450000123</h5>
<h5>Корр. счет: 30101810400000000225</h5>
<h5>БИК: 044525225</h5>
</div>
    </div>
{% endblock %}