{% extends 'index.html' %}
{% load static %}
{% block content %}


<div class="news-wrap">
    <h1 class="news-title">Новости</h1>
    {% if user.is_superuser%}
    <a href="{% url 'main:news_create' %}" class="news-add-btn">+ Добавить новость</a>
    {% endif %}
    {% for new in news %}
        <div class="news-item">
            <h2><a href="{% url 'main:news_detail' new.pk %}">{{ new.title }}</a></h2>
            <div class="news-date">📅 {{ new.pub_date }}</div>

            <div class="news-text">{{ new.text|truncatechars:200 }}</div>
    {% if user.is_superuser%}
            <div class="news-actions">
                <a href="{% url 'main:news_update' new.pk %}" class="news-edit">✏️ Редактировать</a>
                <a href="{% url 'main:news_delete' new.pk %}" class="news-delete">🗑️ Удалить</a>
            </div>
        {% endif %}
        </div>
    {% empty %}
        <div class="news-empty">
            <p>Новостей пока нет.</p>
        </div>
    {% endfor %}


</div>
{% endblock %}