{% extends 'index.html' %}

{% block content %}
<head>
    <title>{{ new.title }}</title>
</head>
    <div class="card-all-in">
    <div class="container">
        <div class="news-header">
            <h1>{{ new.title }}</h1>
            <div class="pub-date">
                📅 Дата публикации: {{ new.pub_date|date:"d.m.Y H:i" }}
            </div>
        </div>
        <div class="news-content">
            {{ new.text|linebreaks }}
        </div>

        <div class="actions">
            <a href="{% url 'main:news_list' %}" class="btn btn-secondary">← Назад к списку</a>
            {% if user.is_superuser %}
            <a href="{% url 'main:news_update' new.pk %}" class="btn">✏️ Редактировать</a>
            <a href="{% url 'main:news_delete' new.pk %}" class="btn btn-danger">🗑️ Удалить</a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}